<h1>Please confirm your email</h1>
<p>
  Please confirm your email in order to verify your email in the example.com web application, to do this, click on the link below.<br>
</p>
<a>127.0.0.1:3000/email_auth/<%=@token%>/<%=@id%></a>
<p>Thanks for the confirmation and have a nice day</p>