<h1>Recover password</h1>
<p>
  If you have forgotten your password, follow the link below and enter a new one<br>
</p>
<a>127.0.0.1:3000/password_recovery/<%=@token%>/<%=@id%></a>
<p>Thank you for using our service and have a nice day</p>